$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.familytitle {
  font-size: 72px !important;
  font-family: Calligraffitti;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  //aline-height: 17.6000003814697px;
  color: #333333; 
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFE0FA;
}

.center {
  background-color: #FFFFFF;
}

.sidebar-nav, .panel-heading, .panel-body {
  background-color: #6F3987 !important;
  color: #DDDDDD !important; 
}

.nav {
  background-color: #6F3987;
}

.navbar-default .navbar-nav > li > a {
  background-color: #6F3987;
  color: #DDDDDD; 
//   background-color: #FFE0FA;
//   color: #CF32AB;
}

h1 {
    color: #b504b7;
}

h2 {
    color: #b504b7;
}

h3 {
    color: #b504b7;
}

h4 {
    color: #b504b7;
}

h5 {
    color: #b504b7;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*  .container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 3px;
  }
}


