<h1><span>Kinder, Küsse und Karriere</span></h1>


<div class="row">

  <div class="col-md-3 col-lg-3">
  	<img class="img-responsive" src="images/coaching.jpg">
  </div>
  <div class="col-md-9 col-lg-9">	
	<p>Ich coache und begleite Sie bei verschiedenen Fragestellungen rund um Kinder, Küsse und Karriere. Gerne bei Ihnen zu Hause oder in der Hebammenpraxis Ulm-Wiblingen.</p>
	<p>&nbsp;</p>
	<p>Themenstellungen können unter anderem sein:</p>
  </div> 
</div> 
<p>&nbsp;</p>
<p><h5>im familiären Kontext:</h5></p>
<ul>
	<li>Einfinden in die neue Rolle "Mutter" / "Vater"</li>
	<li>Aufbau einer sicheren Bindung zwischen Eltern und Baby</li>
	<li>Herausforderungen in der Kindererziehung</li>
	<li>Paarberatung - Eltern sein, Paar bleiben</li>
</ul>
<p>&nbsp;</p>

<p><h5>im beruflichen Kontext:</h5></p>
<ul>
	<li>berufliche (Neu-)Orientierung / Wiedereinstieg</li>
	<li>Zeugnischeck, Lebenslaufcheck und Bewerbungscoaching</li>
</ul>
<p>&nbsp;</p>
<p>Dabei arbeite ich nach dem systemischen Ansatz, ich stelle Fragen, höre zu und begleite Sie bei der Lösungsfindung, die Ihrer individuellen Situation entspricht. Systemisches Coaching ist sehr
effektiv - die meisten Fragestellungen lassen sich in wenigen Sitzungen bearbeiten.&nbsp;</p>
<p>&nbsp;</p>
<p><h5>Konditionen:</h5></p>
<p>Ein erstes Vorgespräch zur Information und vor allem, um mich kennen zu lernen, ist natürlich kostenlos. Die weiteren Kosten sind:</p>
<p>&nbsp;</p>
<ul>
	<li>Einzel-Coaching (90 Minuten) &nbsp; &nbsp; &nbsp;120,-€</li>
	<li>Paar-Coaching (120 Minuten) &nbsp; &nbsp; &nbsp;150,-€</li>
	<li>Zeugnischeck (per Email oder telefonisch) &nbsp; &nbsp; &nbsp;50,-€</li>
	<li>Lebenslaufcheck (per Email oder telefonisch) &nbsp; &nbsp; &nbsp;120,-€</li>
</ul>