
<div class="row">

  <div class="col-md-4">
    <img class="center-block img-responsive" src="images/kindersuchen.jpg" alt="Spielende Kinder">
  </div>
  <div class="col-md-8">
    Durch Kinder wird aus dem Alltag ein Abenteuer,<br/>
    aus Sand eine Burg,<br/>
    aus Farben ein Gemälde,<br/>
    aus einer Pfütze der Ozean,<br/>
    aus Plänen Überraschungen -<br/>
    und aus Liebe Leben!
  </div>

  <div class="col-md-12">
    Die Gründung einer Familie ist für die meisten fester Bestandteil ihrer Lebensplanung und Traum zugleich. Kinder bereichern unser Leben in vorher nicht vorstellbarer Weise - verändern es aber auch genauso nachhaltig. Rollen und Aufgabenverteilungen werden neu definiert und die junge Familie sieht sich häufig mit Herausforderungen konfrontiert, die sie so nicht erwartet hätte.<br/> 
     <br/> 
    Gerade für die Mütter, die meist immer noch den Hauptteil der Kinderbetreuung übernehmen und dafür ihre Tätigkeit beenden oder zumindest unterbrechen, verändert sich der Alltag und damit auch oft das Selbstverständnis radikal. Aber auch die Paarbeziehung verändert sich und die Eltern müssen nun gut organisieren, um überhaupt noch Zeit und Energie für die Beziehung zu finden.<br/>
     <br/> 
    Die Ankunft von Geschwisterkindern verändert die Familienkonstellation und die Aufgaben der Eltern noch einmal neu - plötzlich ist da Eifersucht, Streit, Aggressionen, aber auch enge Verbundenheit zwischen Geschwistern.<br/>  
     <br/> 
    Ich unterstütze Sie in dieser Zeit durch verschiedene Angebote wie Vorbereitungs- und Elternkurse (z.B. PEKiP) bis hin zur Einzel- und Paarberatung. Darüber hinaus coache ich Sie bei der beruflichen (Neu-) orientierung und im Bewerbungsprozess nach der Familienpause. <br/>
     
    <h3>Damit Sie den Traum von Familie einfach leben können!</h3>
  </div>
</div>
