<blockquote class="quoteLarge"><strong><em>
	<h4>
		Es gibt nichts Wunderbareres und Unbegreiflicheres und nichts, was uns fremder wird und gründlicher verloren geht als die Seele des spielenden Kindes.
	</h4>
</em></strong></blockquote>


<div class="quoteLargeAuthor"><strong><em>
	<h5>Hermann Hesse</h5></em></strong>
</div>	

<div class="row">
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip1.jpg">
	</div>	
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip2.jpg">
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip3.jpg">
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip4.jpg">
	</div>	
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip5.jpg">
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="images/pekip6.jpg">
	</div>
</div>

<p>
	Das erste Lebensjahr ist eine ganz besondere Zeit und legt die Grundlagen für die Entwicklung Ihres Babys. Sie als Eltern möchten Ihr Kind dabei angemessen begleiten und haben sicherlich auch
	selber Fragen. PEKiP begleitet Sie und Ihr Baby mit Spiel- und Bewegungsanregungen und bietet im Austausch mit anderen Eltern und der Gruppenleiterin Antworten und Unterstützung.Das
	Prager-Eltern-Kind-Programm ist ein Konzept für die Gruppenarbeit mit Eltern und ihren Kindern im ersten Lebensjahr.
</p>
<p>&nbsp;</p>
<p>Ziel des PEKiP ist es, Eltern und Babys im sensiblen Prozess des Zueinanderfindens zu unterstützen, um</p>
	<ul>
		<li>das Baby in seiner momentanen Situation und seiner Entwicklung wahrzunehmen, zu begleiten und zu fördern</li>
		<li>die Beziehung zwischen dem Baby und seinen Eltern zu stärken und zu vertiefen</li>
		<li>die Eltern in ihrer Situation zu begleiten und den Erfahrungsaustausch sowie die Kontakte der Eltern untereinander zu fördern</li>
		<li>dem Baby Kontakte zu Gleichaltrigen zu ermöglichen﻿</li>
	</ul>
<p>&nbsp;</p>
<p>Die PEKiP-Gruppe</p>

<ul>
	<li>In der PEKiP-Gruppe treffen sich Eltern mit ihren Babys ab der 4.-6. Lebenswoche, auch ein späterer Einstieg ist möglich
	</li>
	<li>Die Babys sind im ähnlichen Alter</li>
	<li>Zu einer Gruppe gehören 6-8 Erwachsene mit ihren Babys</li>
	<li>Die PEKiP-Gruppe kann während des gesamten ersten Lebensjahres zusammen bleiben</li>
	<li>Die Gruppentreffen finden einmal in der Woche in einem warmen Raum statt und dauern jeweils 90 Minuten</li>
	<li>In dieser Zeit sind die Babys nackt, damit sie sich freier bewegen können</li>
	<li>Die PEKiP-Gruppe wird von einer ausgebildeten und zertifizierten PEKiP-Gruppenleiterin geleitet.</li>
</ul>
<p>&nbsp;</p>
<p>Es finden laufend Kurse statt, die aktuellen Kurstermine finden Sie <a href="http://www.familieleben.com/termine/">hier</a></p>