
<h2>Alexandra Guggenberger</h2></br>
Jahrgang 1973, Studium der Psychologie in Gießen mit den Schwerpunkten Wirtschaftspsychologie und Pädagogik, Ausbildung zur systemischen Beraterin (GSB e.V.) und zum Business Coach (FU Berlin), Zertifizierte PEKiP-Gruppenleiterin, mehrfache Patentante, Mutter eines Sohns (2010) und einer Tochter (2012), ehemalige Führungskraft, Unternehmensberaterin, Bewerbungs- und Karrierecoach, Ehefrau, Hobbyköchin, liebt ihre Kinder, ihren Mann und ihre Arbeit, noch immer auf der Suche nach dem Patentrezept, Kinder, Küsse und Karriere unter einen Hut zu bringen...
<div class="row">
	<div class="col-md-4">
		<img class="img-responsive" src="images/profil_alexgross.jpg">
	</div>	
	<div class="col-md-4">
		<img class="img-responsive" src="images/profil_aleximgespraech.jpg">
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="images/profil_alexmitemma.jpg">
	</div>
</div>
Ich arbeite ressourcenorientiert nach dem systemischen Ansatz. Ich glaube, dass die Lösung für jede Fragestellung bereits in uns liegt und "nur" gefunden werden muss. Ich glaube, dass jede Lösung individuell passend sein muss, Patentrezepte nicht existieren und Humor auch im Coaching ungeheuer hilfreich ist.