<h1><span>Aktuelle Termine</span></h1>

<h2><span>PEKiP</span></h2>

<p><em>Es finden laufend Kurse statt, falls hier kein passender Kurs dabei ist, kontaktieren Sie mich, ggf. ist der Einstieg in einen laufenden Kurs möglich!</em></p>

<p class="PEKiPKursD" style="margin-right: -5.4pt;">&nbsp;</p>
<h2>Kurs „Sommerbabies“, 1. Block</h2>
	<p><em>mit Babys, die zwischen dem <strong>01.05.2014 und 31.08.2014</strong> geboren sind*
	</em></p>
<p style="margin: 0cm -5.4pt 0pt 0cm;">&nbsp;</p>
<p style="margin: 0cm -5.4pt 0pt 0cm;">
	<strong>Anzahl der Kurstreffen:</strong> 10 x 90 Minuten
</p>
<p style="margin: 0cm -5.4pt 0pt 0cm;">
	<strong>Kursbeginn:&nbsp;</strong>14.10.2014
</p>
<p style="margin: 0cm -5.4pt 0pt 0cm;">
	<strong>Zeit:&nbsp;</strong>dienstags, 09:30 Uhr bis 11:00Uhr
</p>
<p style="margin: 0cm -5.4pt 0pt 0cm;">
	<strong>Kursgebühr:&nbsp;</strong>EUR 95,-
</p>